.content {
  padding: 20px;
  background-color: #cccccc;
  margin: 20px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
}

.content.active {
  opacity: 1;
  transform: translateY(0);
}
@keyframes blinkColor {
  0% { color: rgb(255, 0, 0); }    /* Merah */
  25% { color: rgb(255,0,0); } /* Jingga */
  50% { color: rgb(255,255,255); } /* Kuning */
  75% { color: rgb(255,255,255); }   /* Hijau */
  100% { color: rgb(255,0,0); }  /* Biru */
}
#blinkingText {
 animation: blinkColor 6s infinite;
}
#blinkingText1 {
  animation: blinkColor 5s infinite;
}
#blinkingText2 {
  animation: blinkColor 0.4s infinite;
}
#blinkingText3 {
  animation: blinkColor 0.5s infinite;
}
#blinkingText4 {
  animation: blinkColor 0.6s infinite;
}
#blinkingText5 {
  animation: blinkColor 0.7s infinite;
    }
